<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @acount.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @acount.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @acount.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @acount.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @acount.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @acount.tel %>
</p>

<%= link_to 'Edit', edit_acount_path(@acount) %> |
<%= link_to 'Back', acounts_path %>
